click
Flask
Flask-Login
flask-mongoengine
Flask-WTF
Flask-SQLAlchemy
itsdangerous
Jinja2
MarkupSafe
mongoengine
pymongo
six
Werkzeug
WTForms==2.3.3
email_validator
pandas
numpy
imbalanced-learn
scikit-learn==1.3.2
matplotlib
seaborn
joblib
geopy
folium