.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Header styles */
.header {
  background-color: #f8f9fa; /* Light background color for header */
  padding: 10px 20px; /* Space around the header */
  display: flex; /* Align items horizontally */
  justify-content: space-between; /* Space between title and username */
  align-items: center; /* Center items vertically */
  border-bottom: 2px solid #ccc; /* Optional: bottom border for separation */
}

.header h1 {
  margin: 0; /* Remove default margin */
  color: #333; /* Title color */
  font-size: 1.5rem; /* Adjust the font size as needed */
}

.header .username {
  font-weight: bold; /* Make username bold */
  color: #555; /* Color for the username */
}
